@import '~src/assets/custom_bootstrap/variables';

.work-head {
  max-width: 100vw;
  overflow: hidden;
  padding-bottom: 10vh;
  padding-left: $padding-left-sections;
  padding-top: 20vh;

  &::before {
    color: $text-color-dark;
    content: '03.';
    font-size: 15em;
    font-weight: 700;
    left: 7vw;
    position: absolute;
    right: auto;
    z-index: -1;

    @media (max-width: 768px) {
      font-size: 10em;
    }
    @media (max-width: 576px) {
      font-size: 6em;
    }
  }

  @media (max-width: 768px) {
    span {
      width: 50px;
    }
  }
  @media (max-width: 576px) {
    span {
      width: 30px;
    }
  }

  h1 {
    font-size: $hsectons-font-size;
    padding-left: 1em;

    @media (max-width: 768px) {
      font-size: $headings-font-size-md;
    }
    @media (max-width: 576px) {
      font-size: $headings-font-size-sm;
    }
  }

  .small {
    padding-left: 4.5em;
    padding-top: 3em;
  }
}

.work-grid {
  margin: 0;
  max-width: 100%;
  overflow: hidden;
  padding: 0;

  .grid {
    display: inline-block;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
    width: 100%;

    @media (max-width: 767px) {
      overflow: visible;
    }

    & > div {
      display: inline-block;
      height: auto;
      opacity: .9;
      overflow: hidden;
      position: absolute;
      width: 25%;



      @media (min-width: 769px) {
        &:nth-of-type(2) {
          height: 100%;
          left: 25%;
          @media (max-width: 1024px) {
            height: 85%;
          }
        }

        &:nth-of-type(3) {
          height: 50%;
          left: 50%;
          width: 50%;
        }

        &:nth-of-type(4) {
          top: 50%;
        }

        &:nth-of-type(5) {
          left: 50%;
          top: 50%;
        }

        &:nth-of-type(6) {
          left: 75%;
          top: 50%;
        }
      }
      @media (max-width: 768px) {
        height: 100vh;
        position: relative;
        width: 100vw;
      }

      img {
        font-family: 'object-fit: cover';
        height: 100%;
        object-fit: cover;
        transform: scale3d(1, 1, 1);
        transition: transform .5s ease;
        width: 100%;
        z-index: 1;

        &.hover {
          transform: scale(1.2, 1.2);
          z-index: 1;
        }
      }

      img ~ .details {
        background: rgba($text-color-dark, 30);
        height: 100%;
        left: 0;
        opacity: 0;
        padding: 2.5em 3em;
        position: absolute;
        top: 0;
        transition: opacity .2s ease;
        width: 100%;
        z-index: 2;
        @media (max-width: 768px) {
          opacity: .5;
        }

        &:hover {
          opacity: .7;
        }

        & > .info {
          padding-bottom: .8em;
          width: 100%;
        }

        & > .info h4 {
          font-family: $font-family-sans-serif;
          font-size: .8em;
          margin-bottom: .3em;
          padding: 0;
        }

        & > .info span {
          font-size: .9em;
          padding-bottom: .8em;
          padding-top: .3em;
        }

        .icon {
          bottom: 8%;
          color: $body-color;
          position: absolute;
          right: 0;
          z-index: 3;

          .ng-fa-icon {
            padding: 3em;
          }
        }
      }
    }
  }
}


.explore-work {
  max-width: 100%;
  padding-bottom: 3em;

  @media (max-width: 767px) {
    padding-top: 3em;

    div {
      left: auto;
      position: relative;
      right: 0;
    }
  }
}
