footer {
  padding-bottom: 2em;
  padding-top: 10em;

  ul > li {
    font-size: .7em;
    list-style: none;

    h3 {
      font-size: 1.1em;
      letter-spacing: 3px;
    }

    a {
      text-decoration: underline;
    }
  }
}
