<footer class="container">
  <div class="row justify-content-md-center">
    <ul class="col-12 col-md-3">
      <li><h3>OFFICE</h3></li>
      <li>756 Livingston Street,</li>
      <li>Brooklyn, NY 11201</li>
    </ul>
    <ul class="col-12 col-md-3">
      <li><h3>GET IN TOUCH</h3></li>
      <li>work@e.oliver.com</li>
      <li>+1 (00) 123-45-67</li>
    </ul>
    <ul class="col-12 col-md-3">
      <li><h3>SOCIAL</h3></li>
      <li>Connect with me on <a href="">facebook</a></li>
      <li><a href="">twitter</a> or <a href="">imstagram</a></li>
    </ul>
  </div>
</footer>
