footer {
  padding-top: 3em;
  padding-bottom: 2em;

  ul li {
    list-style: none;
    font-size: 0.7em;

    h3 {
      font-size: 1.5em;
      letter-spacing: 3px;
    }

    a {
      text-decoration: underline;
    }
  }
}
