<div class="row counters" id="counter">
  <div class="col-xs-12 col-sm-4 col-md-2 offset-md-3">
    <span class="oliver-divider middle margin-left"></span>
    <div class="ml-md-5 mr-md-0">
      <div>
        <h1 class="heading-title counter" data-from="0" data-to="1270" data-speed="3000">1270</h1>
      </div>
      <div>
        <span class="small">Clients</span>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4 col-md-2 ml-md-5">
    <span class="oliver-divider middle margin-left"></span>
    <div class="ml-md-5 mr-md-0">
      <div>
        <h1 class="heading-title counter" data-from="0" data-to="4357" data-speed="3000">4357</h1>
      </div>
      <div>
        <span class="small">Photos</span>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4 col-md-2 ml-md-5">
    <span class="oliver-divider middle margin-left"></span>
    <div class="ml-md-5 mr-md-0">
      <div>
        <h1 class="heading-title counter" data-from="0" data-to="634" data-speed="3000">634</h1>
      </div>
      <div>
        <span class="small">Albums</span>
      </div>
    </div>
  </div>
</div>
