<div class="row testimonial-head">
    <div class="col-12 text-center">
        <h1 class="heading-title">Testimonials.</h1>
        <span class="oliver-divider vertical"></span>
    </div>
</div>

<owl-carousel #owlEl
     [options]="carouselOptions"
     [items]="clients"
     [carouselClasses]="['owl-theme', 'row', 'sliding']">
     <div class="item" *ngFor="let client of clients;let i = index">
        <figure>
            <h1 class="heading-title">0{{ i + 1 }}.</h1>
            <img src="{{client.image}}">
            <figcaption>
                <h3>{{ client.name }} <strong>{{ client.nameS }}</strong></h3>
                <small>{{ client.company }}</small>
            </figcaption>
        </figure>
        <div class="description">
            <i class="oliver-divider"></i>
            <p>{{ client.cite }}</p>
        </div>
     </div>
 </owl-carousel>

<div class="row pagination-carousel text-center">
    <div class="col-4 col-lg-1 offset-lg-4">
        <a (click)="next()">NEXT</a>
        <span class="oliver-divider left"></span>
    </div>
    <div class="col-4 col-lg-2">
        <p class="pages">{{ page }}/{{ pages }}</p>
    </div>
    <div class="col-4 col-lg-1">
        <span class="oliver-divider right"></span>
        <a (click)="prev()">PREV</a>
    </div>
</div>
