<div id="about" class="about-section">
  <div class="background">
    <div class="text-bg">
      <h1>About Us</h1>
    </div>
    <div class="triangle-top-right">
    </div>
    <div class="img-overlay">
    	<img src="../../../assets/img/about-section.jpg">
    </div>
    <div class="square-pattern"></div>
  </div>
  <div class="about-body">
  	<div class="oliver-divider">
  	</div>
  	<div class="row justify-content-center">
  		<div class="col-md-2 text-center">
  			<h1 class="heading-title h1-section">Hello.</h1>
  		</div>
  	</div>
  	<div class="row justify-content-center">
  		<div class="col-8 col-lg-5">
			<blockquote class="blockquote">
			  	<p class="mb-0">
	  				All that we do is work on the style of life, on "being." The object as such is not very interesting. I wonder how people will live with him, what metamorphoses he will undergo in the house. I always liked very simple things. In all. Doing simple things is the most difficult thing. If we talk about simplicity, then it is a synthesis.
	  			</p>
			  <footer class="blockquote-footer"><cite title="Source Title">Edward Oliver</cite></footer>
			</blockquote>
  		</div>
  	</div>
  </div>
</div>
