<div class="pricing-head">
  <div class="row">
    <div class="col-12">
      <h1>Pricing.</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-1">
      <span class="oliver-divider"></span>
    </div>
  </div>
  <div class="row">
    <div class="col-8 col-lg-4">
      <p class="small">
        The photo leaves open moments, which immediately overlap with the pressure of time.
      </p>
    </div>
  </div>
</div>

<div class="row grid-pricing">
  <div *ngFor="let price of prices" class="col-12 col-md-6 col-lg-3" [ngStyle]="{'background': price.background, 'background-size': 'cover'}">
    <div class="overlay">
      <span class="oliver-divider"></span>
      <h1>{{price.title}}</h1>
      <h1 class="heading-title">{{price.titleU}}</h1>

      <div class="description-price">
        <h5 class="title">PHOTOS</h5>
        <h5 class="description">{{ price.photos }}</h5>
      </div>
      <div class="description-price">
        <h5 class="title">PROCESSING</h5>
        <h5 class="description">{{ price.processing }}</h5>
      </div>
      <div class="description-price">
        <h5 class="title">TYPE OF CAMERA</h5>
        <h5 class="description">{{ price.type }}</h5>
      </div>
      <div class="description-price">
        <h5 class="title">RESOLUTION</h5>
        <h5 class="description">{{ price.resolution }}</h5>
      </div>
      <div class="description-price">
        <h5 class="title">TERM</h5>
        <h5 class="description">{{ price.term }}</h5>
      </div>

      <div class="price">
        <h1 class="{{ price.classP }}">{{ price.classP !== 'text' ? '$' : ''}}{{ price.price }}</h1>

        <span class="oliver-divider"></span>
        <a routerLink="">EXPLORE</a>
      </div>
    </div>
  </div>
</div>
