header {
  background: url("../../../assets/img/header-back.jpg") no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
  filter: opacity(50);
  height: 100vh;
  width: 100%;
}
