@import "~src/assets/custom_bootstrap/variables";
header {
  background: url("../../../assets/img/header-back.jpg") no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
  filter: opacity(50);
  max-width: 100vw;
  overflow: hidden;
  padding-top: 30vh;
  height: 100vh;

  .social > ul {
    font-family: 'Rasa', serif;
    font-weight: 500;
    position: absolute;
    left: -7vw;
    bottom: 40vh;
    transform: rotatez(-90deg);
    li {
      display: inline-block;
      list-style: none;
      padding-left: 1em;

      a:hover {
        color: #ddd;
      }
    }
  }

  .intro {
    padding-left: 20vw;

    .head {
      padding-left: 1em;
    }

    .text-intro {
      letter-spacing: 3px;
      font-weight: 500;
      font-size: 0.9em;
      padding-bottom: 1em;
    }

    h1 {
      font-size: 4em;
      text-shadow: 0 0 10px $body-bg;
      padding-bottom: 0.5em;
    }

    .intro-body, .btn-header, .btn-back-header {
      padding-left: 2rem;
    }

    .intro-body, .oliver-btn{
      padding-top: 2em;
    }

    .intro-body {
      font-size: 0.9em;
    }
  }

  .explore {
    display: block;
    position: absolute;
    right: -1vw;
    bottom: 40vh;
    transform: rotateZ(-90deg);

    li {
      font-size: 0.7em;
      font-weight: 700;
      display: inline-block;
      list-style: none;

      &:first-of-type {
        margin-right: 7vh;

        .oliver-divider {
          width: 7vh;
        }
      }

      &:last-of-type {
        letter-spacing: 2px;
        bottom: -0.25vw;
        padding-left: 1em;
        position: relative;
        
        a:hover {
          color: #ddd;
        }
      }
    }
  }
}
