<header>
  <div class="social">
    <ul>
      <li><a class="btn btn-link" href="">Facebook</a></li>
      <li><a href="" class="btn btn-link">Twitter</a></li>
      <li><a href="" class="btn btn-link">Imstagram</a></li>
    </ul>
  </div>
  <div class="intro">
    <div class="row head">
      <span class="col-12 text-intro">
        INTRODUCTION
      </span>
        <h1 class="col-6">
          Photography is a Journey
        </h1>
    </div>
    <div class="row">
      <span class="col-1 oliver-divider margin-left"></span>
    </div>
    <div class="row">
      <div class="col-6 intro-body">
        My advice for every one is to create life, not to consume it. I'm curious to see how many emotions now appears
        in things create with the help of complex technologies. They are so loaded with different feelings that is no
        longer possible to separate emotions and work from the instrument on witch it is done.
      </div>
    </div>
    <div class="row">
      <div class="col-1 oliver-btn active">
        <span class="btn-back-header"></span>
        <a href="" class="btn btn-link btn-header">
          Discover
        </a>
      </div>
    </div>
  </div>
  <ul class="explore">
    <li>
      <span class="oliver-divider vertical"></span>
    </li>
    <li>
      <a href="">EXPLORE MORE</a>
    </li>
  </ul>
</header>
