<div class="container-fluid sponsor-section">
  <div class="row sponsors justify-content-md-center mt-5 pb-5">
    <div *ngFor="let item of sponsorRows[0].row; let i = index" class=" col-3 col-md-1 align-self-center {{ i === 0 ? '' : 'offset-1' }}">
      <img class="img-fluid" src="{{ item.image }}" alt="">
    </div>
  </div>
  <div class="row sponsors justify-content-md-center mt-5">
    <div *ngFor="let item of sponsorRows[1].row; let i = index" class="col-3 col-md-1 align-self-center {{ i === 0 ? '' : 'offset-1' }}">
      <img class="img-fluid" src="{{ item.image }}" alt="">
    </div>
  </div>
</div>

<div class="container-fluid newsletter-section">
  <form>
    <div class="form-row justify-content-center">
      <div class="col-10 col-md-6">
        <h1 class="text-center mb-5">Sign up for our newsletter to receive special offers.</h1>
      </div>
    </div>
    <div class="form-row justify-content-center">
      <span class="oliver-divider align-content-center"></span>
    </div>
    <div class="form-row justify-content-center">
      <div class="col-8 col-md-4">
        <div class="input-group mt-5 mb-3">
          <input type="text" class="form-control" placeholder="Enter your email address" aria-label="Enter your email address">
          <div class="input-group-append">
            <button class="btn" type="button" id="ok">OK</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
