<header>
  <div class="intro">
    <div class="row head">
        <h1 class="col-6 offset-md-2">
          Let's Chat
        </h1>
    </div>
    <div class="row">
      <span class="col-1 offset-md-2 oliver-divider margin-left"></span>
    </div>
    <div class="row">
      <div class="col-3 offset-md-2 mt-4 intro-body">
        A photo — is a search for what can get into the frame. When you limit events to a frame — You change these events.
      </div>
      <div class="col-6 mt-4 intro-body">
        <div id="mapbox" class="map"></div>
      </div>
      <div class="col-3 offset-md-2 mt-4 oliver-btn active">
        <span class="btn-back-header"></span>
        <a href="mailto:work@e.oliver.com" class="btn btn-link btn-header">
          LEAVE A MESSAGE
        </a>
      </div>
    </div>
  </div>
</header>
