@import '~src/assets/custom_bootstrap/variables';

header {
  max-width: 100vw;
  min-height: 100vh;
  padding-top: 30vh;

  &::after {
    bottom: -15%;
    color: $text-color-dark;
    content: 'Contact';
    font-size: 15em;
    font-weight: 700;
    position: absolute;
    right: 0;
    z-index: -1;
  }

  .intro {
    // padding-left: $padding-left-headings;

    // .head {
    //   padding-left: 1em;
    // }

    h1 {
      font-size: $headings-font-size;
      font-style: italic;
      padding-bottom: .5em;
      text-shadow: 0 0 10px $body-bg;
    }

    // .btn-back-header,
    // .btn-header,
    // .intro-body {
    //   padding-left: 2rem;
    // }

    // .intro-body,
    // .oliver-btn {
    //   padding-top: 2em;
    // }

    .intro-body {
      font-size: .9em;
    }


    .map {
      bottom: 0;
      height: 40vh;
      position: absolute;
      top: 0;
      width: 100%;
      @media (max-width: 768px) {
        left: 30%;
      }
    }

    .oliver-btn {
      @media (max-width: 768px) {
        margin-top: 40% !important;
      }
      @media (max-width: 576px) {
        margin-top: 80% !important;
      }
    }

    .oliver-btn > span {
      height: 4vh;
      transform: translateX(-40%);
      @media (max-width: 768px) {
        transform: translateX(-50%);
      }
      @media (max-width: 576px) {
        transform: translateX(-100%);
      }
    }

    a {
      right: -40%;
      top: 30%;
      @media (max-width: 768px) {
        right: -50%;
      }
      @media (max-width: 576px) {
        right: -60%;
      }
    }
  }
}
